/*les animate avec jquery*/

#bleu {
	width: 100px;
	height: 100px;
	background: blue;
	position: relative;
}


#rouge {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}


#vert {
	width: 100px;
	height: 100px;
	background: green;
	position: relative;
}

#violet {
	width: 100px;
	height: 100px;
	background: violet;
	position: relative;
}

#jaune {
	width: 100px;
	height: 100px;
	background: yellow;
	position: relative;
}