@if $galerie == true {
	.galerie [class*="col-xs"]{
		padding: $gutter-width;
	}
	.galerie img {
		filter: brightness(50%);
		transition: all .5s;
	}

	.galerie img:hover {
		cursor: pointer;
		filter: brightness(100%);
	}

	/*lightbox*/

	.lightbox {
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		position: fixed;
		top: 0;
		left: 0;
		display: none;
	}

	.lightbox .cadre {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border: 1px solid #fff;
	}

	.lightbox span {
		font-size: 1.5rem;
		color: #fff;
		position: absolute;
		cursor: pointer;
		opacity: .5;

	}

	.lightbox span:hover {
		transition: all .3s;
		opacity: 1;
	}

	.lightbox .icon-times-circle {
		top: 0;
		right: 0;
	}

	.lightbox span.icon-arrow-circle-left {
		top: 50%;
		left: 3%;
		transform: translate(0,-50%);
		font-size: 2.5rem;
	}

	.lightbox span.icon-arrow-circle-right {
		top: 50%;
		right: 3%;
		transform: translate(0,-50%);
		font-size: 2.5rem;
	}

	/*pour les tablettes et plus */
	@media all and (min-width: $sm-screen) {
		.lightbox .cadre {
			width: 60%;
		}
	}/*end media query*/

	/*pour les nodebook, medium screen et plus */
	@media all and (min-width: $md-screen) {
		.lightbox .cadre {
			width: 40%;
		}
	}/*end media query*/


}	/*end if*/