@if $sliderExo == true {


	.slider {
		width: 100%;
		margin: auto;
		overflow: hidden;/*pour garder seulement la 1ere img*/
		position: relative;/*pour utiliser le absolute sur les fleches icones*/
		ul {
			padding: 0;
			width: 9999px;
			position: relative;/*utile pour le animate en js*/
		}
		li {		
			list-style: none;
			float: left;
		}
		span {
			position: absolute;
			top: 50%;
			font-size: 2.5rem;
			opacity: .7;
			color: $primary-color;
			transform: translate(0,-50%);
		}
		span:hover {
			transition: all .3s;
			opacity: 1;
		}
		.icon-arrow-circle-left {
			left: 1%;
		}
		.icon-arrow-circle-right {
			right: 1%;
		}
		img {
			border-radius: 10px;
		}
		p {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 300px;
			background: rgba(0,0,0,.7);
			padding: .3rem;
			color: $primary-color;
			margin: 0; 
		}

	}

	.exo {
		width: 500px;
		margin: auto;
	}

	figure {
		position: absolute;
		top: 10px;
		width: 120px;
 		border: 1px solid black;
	}

	figure:nth-of-type(1) {
		left: 50px;
	}

	figure:nth-of-type(2) {
		right: 50px;
	}

	/*pour les tablettes et plus */
	@media all and (min-width: $sm-screen) {
		
	}/*end media query*/



	/*pour les nodebook, medium screen et plus */
	@media all and (min-width: $md-screen) {
		
	}/*end media query*/


}	/*end if*/