/*========================*/
/*   GRID DEFINITION      */
/*========================*/

$wrapper-width: 			100%;
$container-width: 			1200px;
$gutter-width:				15px;

$maximum-columns:			12;


$sm-screen:					768px;
$md-screen:					992px;
$lg-screen:					1200px;

/*========================*/
/*         COLORS         */
/*========================*/

$primary-color: 			#FFFFFF;
$secondary-color: 			#0198A0;
$tertiary-color: 			#161616;
$quaternary-color: 			#FB9CC4;


/*========================*/
/*      FONT SIZE         */
/*========================*/

$base-font-size:			14px;
$base-font-size-sm:			15px;
$base-font-size-md:			16px;
$base-font-size-lg:			18px;
$p-font-size:				1rem;
$h4-font-size:				$base-font-size * 4 / 3;
$h3-font-size:				$h4-font-size * 4 / 3;
$h2-font-size:				$h3-font-size * 4 / 3;
$h1-font-size:				$h2-font-size * 4 / 3;


/*========================*/
/*      FONTS             */
/*========================*/

@include declare-font-face(openSans,opensans-regular-webfont,normal);
@include declare-font-face(Roboto,roboto-bold-webfont,normal);


/*==============================*/
/*      BACKGROUNDS             */
/*==============================*/

$header-bg:					#fff;
$main-bg:					none;
$main-footer:				none;


/*==============================*/
/*      NAVIGATION              */
/*==============================*/

$nav-bg:					#fff;
$link-bg:					none;
$link-color:				none;
$link-color-active:			none;


/*==============================*/
/*      OPTIONS FILES           */
/*==============================*/

$galerie: 					false;
$compteur:					false;
$form:						false;
$slider:					false;
$sliderExo:					true;
